1. Baixando as bibliotecas

In [14]:
!pip install sqlite3

!pip install sqlalchemy

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

Requirement already satisfied: sqlalchemy in c:\users\alisson\appdata\local\programs\python\python313\lib\site-packages (2.0.43)
Requirement already satisfied: greenlet>=1 in c:\users\alisson\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\alisson\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.14.1)

2. importando as bibliotecas

In [15]:
import pandas as pd

from sqlalchemy import create_engine

3. criação dos esquemas de banco de dados

In [16]:
engine = create_engine('sqlite:///qualidade-automotiva.db')

3. criação de conjunto de dados

In [17]:
dados = {
'codigo': ['P01', 'P02', 'P03', 'P04', 'P05', 'P06', 'P07', 'P08', 'P09',
'P10'],
'altura': [10.0, 9.8, 10.2, 10.1, 9.7, 10.0, 10.3, 9.9, 10.0, 10.1],
'largura': [5.0, 5.1, 5.0, 4.9, 5.2, 5.0, 4.8, 5.0, 5.0, 5.3]
}

dados_produtos = pd.DataFrame(dados)

dados_produtos.to_sql('produtos', con=engine, index=False, if_exists='replace')

10

4. processamento de dados

In [18]:
dados_produtos['aprovados'] = (
    (dados_produtos['altura'].between(9.9, 10.1))
    &
    (dados_produtos['largura'].between(4.9, 5.1))
)

dados_produtos.to_sql('produtos', con=engine, index=False, if_exists='replace')

10

5. estasticas descritivas

In [22]:
total = len(dados_produtos)
boas = dados_produtos['aprovados'].sum()
ruins = total - boas
aproveitamento = (boas / total) * 100

dados_resultados = pd.DataFrame({
'data': '2025-05-30',
'total': [total],
'boas': [boas],
'ruins': [ruins],
'aproveitamento': [aproveitamento]
})

dados_resultados.to_sql('resultados', con=engine, index=False, if_exists='replace')

1

6. exibir informações

In [23]:
produtos_gravados = pd.read_sql_table('produtos', con=engine)

resultados_gravados = pd.read_sql_table('resultados', con=engine)

print('Peças produzidas')
display(produtos_gravados)

print('resultados da produção')
display(resultados_gravados)

Peças produzidas

  codigo  altura  largura  aprovados
0    P01    10.0      5.0       True
1    P02     9.8      5.1      False
2    P03    10.2      5.0      False
3    P04    10.1      4.9       True
4    P05     9.7      5.2      False
5    P06    10.0      5.0       True
6    P07    10.3      4.8      False
7    P08     9.9      5.0       True
8    P09    10.0      5.0       True
9    P10    10.1      5.3      False

resultados da produção

         data  total  boas  ruins  aproveitamento
0  2025-05-30     10     5      5            50.0